<!-- Header -->
<header class="construction">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Bienvenidos!</div>
            <div class="intro-heading">
            	<%= image_tag("logo.png")%>
            </div>
            <div class="intro-lead-in">Estamos trabajando para ti!</div>
        </div>
    </div>
</header>